{
  "presets": [
    "es2015",
    "stage-0",
    "react"
  ],
  "plugins": [
    "add-module-exports",
    "react-hot-loader/babel",
    "transform-runtime",
    "transform-decorators-legacy",
    "markdown-in-js/babel"
  ]
}
