html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, del, dfn, em, img, ins, kbd, q, samp, small, strong, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, table, tbody, tfoot, thead, tr, th, td, article, aside, footer, header, nav, section {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body {
    background: #f3f3f3;
    font-family: 'Roboto', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
    -webkit-text-size-adjust: none;
}

a {
    color: #14ADE5;
}
a:hover {
    text-decoration: none;
}

.center {
    text-align: center;
}

h1 {
    font-size: 34px;
    margin: 50px auto 20px;
    color: #212121;
}

h2 {
    font-size: 14px;
    color: #3c3c3c;
    margin:10px;
}

.mySwipe {
    margin: 0 auto;
}
.mySwipe .item {
    font-weight: bold;
    color: #14ADE5;
    font-size: 20px;
    text-align: center;
    margin: 10px;
    padding: 100px 10px;
    box-shadow: 0 1px #EBEBEB;
    background: #fff;
    border-radius: 5px;
    border: 1px solid;
    border-color: #E5E5E5 #D3D3D3 #B9C1C6;
}

.swipeItem {
    position: relative;
    overflow: hidden;
    width: 350px;
    outline: 1px solid black;
    background-size: 175px 175px;
    background-repeat: no-repeat;
    background-position: center top;
    /* border: 0;
    border-radius: 87.5px; */
}

.swipeItem-content {
    position: absolute;
    width: 100%;
    height: 100%;
}

.swipeItem-content .name {
    top: 50%;
    font-size: 38px;
    color: #2c2e31;
    background: transparent;
    margin: 5px;
}

.swipeList {
    list-style-type: none;
}

.swipeList-addButton {
    font-size: 30px;
    text-align: center;
    width: 350px;
    height: 65px;
    padding: auto;
    background-color: white;
    border: none;
    outline: 1px solid black;
}

/* .swipeItem-0 {
    background-image: url('assets/lego0.jpg');
}
.swipeItem-1 {
    background-image: url('assets/lego1.jpg');
}
.swipeItem-2 {
    background-image: url('assets/lego2.jpg');
}
.swipeItem-3 {
    background-image: url('assets/lego3.jpg');
}
.swipeItem-4 {
    background-image: url('assets/lego4.jpg');
}
.swipeItem-5 {
    background-image: url('assets/lego5.jpg');
}
.swipeItem-6 {
    background-image: url('assets/lego6.jpg');
}
.swipeItem-7 {
    background-image: url('assets/lego7.jpg');
}
.swipeItem-8 {
    background-image: url('assets/lego8.jpg');
} */
